ol.nav {
    font-size: 13px;
	background: #FFF;
    -moz-box-shadow: 1px 1px 9px 2px #666666;
-webkit-box-shadow: 1px 1px 9px 2px #666666;
box-shadow: 1px 1px 9px 2px #666666;
}

ol.nav li ol.subnav {
    background: #363A41;
    border: 1px solid #2A2F37;
    color: #ffffff;
}

ol.nav li:hover {
    border-right:5px solid #3292DD;
padding-right: 15px;

}
ol.nav li:hover a ,ol.subnav li:hover a {
color: #3292DD;


}
ol.nav li:hover ol.subnav a {
color: #fff;


}
ol.nav li {
    
    font-size: 14px;
}

ol.nav li a {
    color: #2A2F37;
    text-decoration: none;
}

ol.subnav li a {
    color: #ffffff;
}

ol.nav li a:hover {
    color: #3292DD;
}

ol.nav li span {
    background: url(../../../../../webroot/img/arrow_down.png) no-repeat center center;
}

ol.subnav li span {
    background: url(../../../../../webroot/img/arrow_right.png) no-repeat center center;
}