ol.nav {
	position: relative;
	list-style: none;
	margin: 0;
	float: right;
	z-index: 1000;
}

ol.nav li ol.subnav {
	display: none;
	float: left;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 280px;
	top: 0;
}

ol.subnav li ol.subnav {
	top: -1px;
	right: 210px;
}

ol.nav li {
	float: right;
	clear: right;
	margin: 0;
	position: relative;
	display: block;
	vertical-align: middle;
	padding: 10px 20px;
	z-index: 1000;
	width: 260px;
	cursor: pointer;
	text-align: right;
}

ol.nav li ol.subnav li {
	margin: 0;
	padding: 5px;
	clear: both;
	width: 200px;
	border: 0;
}

ol.nav li span {
	padding-left: 5px;
	width: 10px;
	height: 19px;
	float: left;
}

ol.subnav li span {
	float: right;
}

.editIconContainer {
	float: right;
	padding: 2px;
}

.sort {
	position: absolute;
	top: 18px;
	right: 10px;
}