ol.nav {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	z-index: 1000;
}

ol.nav li ol.subnav {
	position: absolute;
	left: 0px;
	top: 28px;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
}

ol.subnav li ol.subnav {
	top: 0px;
	left: 100%;
}

ol.nav li {
	float: left;
	margin: 0;
	position: relative;
	display: block;
	vertical-align: middle;
	padding: 4px 10px;
	z-index: 1000;
}

ol.nav li ol.subnav li {
	margin: 0;
	padding: 5px;
	clear: both;
	width: 200px;
	border: 0;
}

ol.nav li span {
	padding-left: 5px;
	width: 10px;
	height: 19px;
	float: left;
}

ol.subnav li span {
	float: right;
}

.editIconContainer {
	float: right;
	padding: 2px;
}

.sort {
	display: inline-block;
	padding: 5px;
	position: relative;
}

.sort a img {
	
}