.handler {
  /*  width: 100%;
    height: 20px;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #3292DD;
    color: #ffffff;
    font-weight: bold;*/
    
        width: 100%;
    height: 20px;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #333;
    color: white;
    font-weight: bold;
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    text-indent: 10px;
    line-height: 20px;
    
}

.subcl, .subcr, .subc {
    border:1px dotted black;
    padding: 10px;
}

.subcolumns, .plugin_content {
    padding-top: 10px;
}

.layout,.plugin{
	margin: 3px;
	width: 100%;
	height: 64px;
	font-size: 0.5em;
	text-align: center;
	cursor: pointer;
	line-height: 7;
    list-style: none;
}

.sublayout:hover,.plugin:hover{
	background-color: #999;
}

.placeholder {
    height: 100px;
    width: 100%;
    border:1px dotted black;
    background-color: #444444;
}

.ui-state-active.ui-droppable {
	background-color: #DCDCDC;
}
