body.sidebar-open {
    margin-left: 200px;
}

#sidebar {
    height: 100%;
    width: 200px;
    top: 0;
    left: -200px;
    z-index: 999;
    border-right: 1px solid #999999;
}

#sidebar.opened {
    left: 0px;
}

#sidebar-opener {
    left: 0px;
    top: 50px;
    width: 32px;
    height: 32px;
    z-index: 100;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
	-moz-border-radius: 0 5px 5px 0px;
    -webkit-border-radius: 0 5px 5px 0px;
    border-radius: 0 5px 5px 0px;
}

#sidebar-opener.opened {
    left: 200px;
}

#sidebar, #sidebar-opener {
    position: fixed;
    background-color: #666;
    box-shadow: -10px -10px 20px #333 inset;
    -webkit-box-shadow: -10px -10px 20px #333 inset;
    -moz-box-shadow: -10px -10px 20px #333 inset;
}



#sidebar-top {
    margin: 5px;
}

#sidebar-tabs {
    position: absolute;
    margin: 5px;
    top: 130px;
    width: 190px;
}

#sidebar-content {
    position: absolute;
    margin: 5px;
    top: 175px;
    bottom: 15px;
    width: 190px;
    background-color: #888888;
}

#logo {
    width: 100%;
    text-align: left;
}

#sidebar h1 {
    font-size: 20px;
}

#sidebar hr {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #cccccc;
}

.button-bar {
    text-align: center;
    width: 100%;
}

.small-button {
    display: inline;
    border: 1px solid #000000;
    background-color: #AAA;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 0px 8px #333;
    -moz-box-shadow: 0px 0px 8px #333;
    box-shadow: 0px 0px 8px #333;
}

.small-button:hover {
    background-color: #CCC;
}

#sidebar-tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-tabs li {
    display: block;
    float: left;
    text-align: center;
    height: 35px;
	width: 93px;
    line-height: 35px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    margin-right: 2px;
	margin-top: 10px;
    margin-left: 0px;
	border-radius: 5px 5px 0px 0px;
    background-color: #AAA;

}

#sidebar-tabs li a {
    display: block;
    color: #ffffff;
    padding: 0px 10px;
    text-decoration: none;
	background-color: #AAA;
	border-radius: 5px 5px 0px 0px;
	padding-left: 5px;
	padding-right: 5px;
}
	


#sidebar-tabs li a.selected-tab {
    color: #000000;
	background-color: #ffffff;
	border-radius: 5px 5px 0px 0px;
	display: block;
	
}

.tab-content {
    height: 100%;
    background-color: #ffffff;
    
    overflow: auto;
    padding: 5px;
}

.selected-tab {
    background-color: #ffffff;
}

.sidebar-object {
    width: 100%;
    margin-bottom: 5px;
}

.layout5050 {
    background-image: url(../../img/layouts/5050.png);
}