body,#overlay-header {
	font-family: Arial, Tahoma, sans-serif;
	background-image: url(../../img/bg.jpg);
	font-size: 14px;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
}

h5 {
	font-size: 10px;
}

input,textarea {
	font-size: 13px;
}

input[type=button],input[type=submit] {
	-webkit-box-shadow: inset 0px 0px 8px #ff6600;
	-moz-box-shadow: inset 0px 0px 8px #ff6600;
	box-shadow: inset 0px 0px 8px #ff6600;
	border: 1px solid #ff6600;
	color: #ffffff;
}

input[type=text],input[type=password],textarea,select {
	-webkit-box-shadow: inset 0px 0px 4px #dddddd;
	-moz-box-shadow: inset 0px 0px 4px #dddddd;
	box-shadow: inset 0px 0px 4px #dddddd;
	border: 1px solid #999999;
}

.color1,input[type=button]:hover,input[type=submit]:hover,.users_role {
	background-color: #ff6600;
	background-image: none;
	color: #ffffff;
}

.border-color1,.role {
	border-color: #ff6600;
}

.color2,input[type=button],input[type=submit] {
	background-color: #ff9900;
	background-image: none;
	color: #ffffff;
}

.border-color2 {
	border-color: #ff9900;
}

.color3,#topnav a.signin:hover,#topnav a.signout:hover {
	background-color: #bbbbbb;
	background-image: none;
	color: #000000;
}

.border-color3 {
	border-color: #bbbbbb;
}

.color4,#topnav a.menu-open,#signin_menu {
	background-color: #cccccc;
	background-image: none;
	color: #000000;
}

.border-color4 {
	border-color: #cccccc;
}

.color5,body.overlay,#content,#footer {
	background-color: #ffffff;
	background-image: none;
	color: #000000;
}

.border-color5 {
	border-color: #ffffff;
}

a {
	color: #000000;
}

#topnav,#signin_menu,#footer,.small_font {
	font-size: 11px;
}

#topnav a.signin,#topnav a.signout,.validation_error,.flash_success,.flash_failure,#flashMessage.message,.users_role
	{
	font-weight: bold;
}

#menu {
	background-image: url(../../img/nav.gif);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-bottom: 5px solid #ff9900;
}

#footer {
	color: #cccccc;
}

.validation_error {
	color: #A00000;
}

.flash_success,#flashMessage.message {
	border: 3px solid #bedf5d;
	background: #e2f1a8;
}

.flash_failure {
	border: 3px solid #990000;
	background: #f97d88;
}

.plugin_administration {
	background-image: url(../../img/nav.gif);
	background-position: bottom;
	border: 1px solid #3292DD;
}

.role {
	border-width: 1px;
	border-style: solid;
}

.user_detail,.users-placeholder {
	border: 1px dotted #ff9900;
	background-color: #ffffff;
}