ol.nav {
    font-size: 13px;
}

ol.nav li ol.subnav {
    background: #363A41;
    border: 1px solid #2A2F37;
    color: #ffffff;
}

ol.nav li {
    border-right: 1px solid #cccccc;
    font-size: 14px;
}

ol.nav li a {
    color: #2A2F37;
    text-decoration: none;
}

ol.subnav li a {
    color: #ffffff;
}

ol.nav li a:hover {
    color: #3292DD;
}

ol.nav li span {
    background: url(../../../../../webroot/img/arrow_down.png) no-repeat center center;
}

ol.subnav li span {
    background: url(../../../../../webroot/img/arrow_right.png) no-repeat center center;
}