input,textarea,select {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
}

input[type=text],input[type=password] {
	height: 18px;
}

input[type=text],input[type=password] {
	width: 300px;
}

select {
	width: 305px;
}

label,.input input[type=checkbox] {
	display: block;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

.input input[type=checkbox] {
	float: left;
	margin-left: 135px;
	margin-right: 5px;
}

label {
	float: left;
	width: 130px;
	margin-right: 5px;
}

form div {
	margin: 5px 0;
}

.input {
	clear: both;
}

.input.textarea label {
	display: none;
}

#signin_menu input,#signin_menu label {
	float: none;
}

#main {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
}

#header {
	position: relative;
	margin-top: 15px;
	height: 70px;
}

#overlay-header {
	position: relative;
	padding: 5px;
	padding-bottom: 10px;
	height: 45px;
}

#pagelogo {
	position: absolute;
	left: 10px;
	bottom: 5px;
}

#topnav {
	position: absolute;
	line-height: 23px;
	right: 10px;
	top: 0px;
	text-align: right;
}

#topnav a.signin,#topnav a.signout {
	position: relative;
	margin-left: 3px;
	padding: 4px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#signin_menu {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	display: none;
	position: absolute;
	width: 210px;
	z-index: 100;
	padding: 10px;
	top: 15px;
	right: 0px;
	margin-top: 5px;
	margin-right: 0px;
	text-align: left;
}

#signin_menu input[type=text],#signin_menu input[type=password] {
	display: block;
	margin: 0 0 5px;
	width: 203px;
}

#menu {
	position: relative;
	text-transform: uppercase;
}

#menu.overlay {
	margin: -10px -20px 20px;
}

#content {
	padding: 10px 20px;
}

#footer {
	padding: 10px 20px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.plugin_content {
	position: relative;
}

.plugin_administration {
	position: relative;
	padding: 2px;
	margin-bottom: 10px;
}

.setting_button {
	position: absolute;
	top: 40px;
	right: 0px;
	z-index: 500;
	display: none;
}

.setting_image {
	width: 20px;
	height: 20px;
}

.handler {
	cursor: move;
}

.flash_success,.flash_failure,#flashMessage {
	padding: 10px;
	margin: 15px 0;
}

#users_search_bar {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}

.role {
	clear: both;
	margin-bottom: 10px;
}

.users_role {
	padding: 2px;
}

.users {
	padding: 10px;
	min-height: 85px;
}

.user_detail,.users-placeholder {
	width: 125px;
	height: 75px;
	margin: 5px;
	float: left;
	padding: 5px;
}

.user_pic {
	text-align: center;
}

.user_name {
	text-align: center;
	font-weight: bold;
	float: left;
}