#main {
    position: relative;
    top: -1px;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

#header {
    position: relative;
    margin-top: 15px;
    height: 100px;
}

#pagelogo {
    position: absolute;
    left: 10px;
    bottom: 5px;
}

#topnav {
    position: absolute;
    line-height: 23px;
    right: 10px;
    top: 0px;
    text-align: right;
}

#topnav a.signin, #topnav a.signout {
    position: relative;
    margin-left: 3px;
    padding: 4px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#signin_menu {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    display: none;
    position: absolute;
    z-index: 100;
    padding: 10px;
    top: 15px;
    right: 0px;
    margin-top: 5px;
    margin-right: 0px;
    text-align: left;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display: block;
    margin: 0 0 5px;
    padding: 5px;
    width: 203px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#menu {
    position: relative;
    text-transform: uppercase;
}

#content {
    padding: 10px 20px;
}

#footer {
    padding: 10px 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

h2, h1, h3, h4, h5, h6 {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: none;
    padding: 5px 10px;
    margin: 10px 0px;
}

.button {
    display: block;
    line-height: 30px;
    height: 30px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.plugin_content {
    position: relative;
}

.plugin_administration {
    position: relative;
    padding: 2px;
    margin-bottom: 10px;
}

.setting_button {
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 500;
    display: none;
}

.setting_image {
    width: 20px;
    height: 20px;
}

.handler {
    cursor: move;
}

.flash_success, .flash_failure, #flashMessage {
    padding: 10px;
    margin: 15px 0;
}

#users_search_bar {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.role {
    clear: both;
    margin-bottom: 10px;
}

.users_role {
    padding: 5px;
}

.users {
    padding: 10px;
    overflow: auto;
    min-height: 97px;
}

.user_detail, .users-placeholder {
    width: 125px;
    height: 75px;
    margin: 5px;
    float: left;
    padding: 5px;
}

.user_pic {
    text-align: center;
}

.user_name {
    text-align: center;
    font-weight: bold;
    float: left;
}

form {
    text-align: left;
    margin: 0.5em;
    overflow: auto;
}

form>div {
    margin: 1em;
    text-align: left;
}

label {
    display: inline-block;
    margin-right: 2em;
    text-align: right;
    width: 25%;
}

input[type=text], input[type=password], input[type=textarea] {
    margin: 0;
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0.5em !important;
}

form>div * {
    vertical-align: middle !important;
}

/*
input[type=submit]:before {
    width:2em;
    content:' ';
    display:block;
}*/
input[type=submit], button, input[type=button] {
    cursor: pointer;
    font-weight: bold;
    line-height: normal !important;
    min-width: 25%;
    outline: medium none;
    padding: 0.5em 1em;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: display-block;
}

th {
    padding: 0.5em;
}

td {
    padding: 0.5em;
}

td:last-of-type {
    border-right: none;
}

th:last-of-type {
    border-right: none;
}