
#main {
   position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
	padding: 0px;
}



#header {
    position: relative;
    margin: 0px auto;
    height: 120px;
}


#pagelogo {
	
   position: relative;
    left: 10px;
    top: 30px; 
}

#topnav {
   line-height: 25px;
   height: 25px;
   position: absolute;
   top: 0;
    text-align: right;
    width: 1000px;
	
}


#topnav a {
	color: #ffffff;
}

#topnav a.signin, #topnav a.signout {
    position: relative;
    margin-left: 3px;
	margin-right: 4px;
    padding: 4px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#signin_menu {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    display: none;
    position: absolute;
    z-index: 100;
    padding: 10px;
    top: 15px;
    right: 0px;
    margin-top: 5px;
    margin-right: 0px;
    text-align: left;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display: block;
    margin: 0 0 5px;
    width: 203px;
}


/* input[type=text], input[type=password], input[type=number] {
    height: 14px;
} */



#menu{
	float: left;
	margin-left: 0px;
	padding: 0;
	width: 208px;
	min-height: 468px;
}



#content {
   	position: relative;
	margin-left: 220px;
	padding: 7px 13px 5px;
	min-height: 400px;
}


#content.overlay {
	margin-left: 180px;
    top: 30px;
    width: auto;
	}

#footer.overlay {
	top: 20px;
    width: auto;
	margin-left: 180px;
}



#content.header {
	height: 30px;
}

#overlay-header {
	height: 20px;
	padding: 10px;

}

#menu.overlay {
    left: -180px;
    position: absolute;
    top: 0;
	width: 160px;
	min-height: 180px;
}


#footer {
	position: relative;
	margin-left: 220px;
    padding: 20px 20px 20px;
	line-height: 20px;
	text-align: right;
}

h2, h1, h3, h4, h5, h6 {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: none;
    padding: 5px 10px;
    margin: 10px 0px;
}

.button {
    display: block;
    line-height: 16px;
    height: 16px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.plugin_content {
    position: relative;
}

.plugin_administration {
    position: relative;
    padding: 2px;
    margin-bottom: 10px;
}

.setting_button {
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 500;
    display: none;
}

.setting_image {
    width: 20px;
    height: 20px;
}

.handler {
    cursor: move;
}

.flash_success, .flash_failure, #flashMessage {
    padding: 10px;
    margin: 15px 0;
}


#users_search_bar {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.role {
    clear: both;
    margin-bottom: 10px;
}

.users_role {
    padding: 5px;
}

.users {
    padding: 10px;
    overflow: auto;
    min-height: 97px;
}

.user_detail, .users-placeholder {
    width: 125px;
    height: 75px;
    margin: 5px;
    float: left;
    padding: 5px;
}

.user_pic {
    text-align: center;
}

.user_name {
    text-align: center;
    font-weight: bold;
    float: left;
}

form {
    text-align: left;
    margin: 0.5em;
    overflow: auto;
}

form>div {
    margin: 1em;
    text-align: left;
}

label {
    display: inline-block;
    margin-right: 2em;
    text-align: right;
    width: 25%;
	
}

.input.checkbox label{
	text-align: left;
} 



input[type=text], input[type=password], input[type=textarea], select {
    margin: 0;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0.3em !important;
}

form>div * {
    vertical-align: middle !important;
}

input[type=text], input[type=password], input[type=textarea] {
	width: 42.5%;

}



input, textarea, select {
    border-radius: 4px 4px 4px 4px;
    padding: 2px;
}




input[type=submit], button, input[type=button] {
    font-weight: normal;
    min-width: 25%;
    outline: medium none;
    padding: 0.2em;
	margin: 2px;
    vertical-align: middle;
}

input[type=text], input[type=password] {
	width: 40%;
}


.input input[type="checkbox"] {
    float: left;
    margin-left: 192px;
    margin-right: 5px;
}


th {
    padding: 0.5em;
}


td {
    padding: 0.5em;
}


td:last-of-type {
    border-right: none;
}


th:last-of-type {
    border-right: none;
}