/* "Yet Another Multicolumn Layout" v3.3.1 (c) by Alexander Hass, Dirk Jesse (http://www.yaml.de)
* $Revision: 495 $ $Date: 2011-06-18 12:24:44 +0200 (Sa, 18 Jun 2011) $ */
@media all{#nav{direction:ltr}#nav *{direction:rtl}}