#main {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

#header {
    height: 90px;
    margin: 0 0 10px 0;
    background-color: grey;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#header div {
    padding: 30px 0 0 20px;
    font-family: arial, verdana;
    font-size: 40px;
    text-shadow: #c0c0c0 3px 3px 5px;
    color: #464647;
}

#content {
    height: 400px;
    background-color: #ededed;
    font-family: arial;
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
    margin: 10px 0 10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    padding: 10px 20px;
    overflow: auto;
}

#footer {
    height: 50px;
}

#footer div {
    float: right;
    color: #464647;
}

.setting_button {
	position: absolute;
	top: 35px;
	right: 5px;
	z-index: 1000;
	display: none;
}

.plugin_content {
	position: relative;
}

.setting_image {
	width: 25px;
	height: 25px;
}