body.sidebar-open {
    margin-left: 200px;
}

#sidebar {
    height: 100%;
    width: 200px;
    top: 0;
    left: -200px;
    z-index: 100;
    border-right: 1px solid #999999;
}

#sidebar.opened {
    left: 0px;
}

#sidebar-opener {
    left: 0px;
    top: 50px;
    width: 32px;
    height: 32px;
    z-index: 100;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
}

#sidebar-opener.opened {
    left: 200px;
}

#sidebar, #sidebar-opener {
    position: fixed;
    background-color: #dddddd;
    box-shadow: 0px 0px 20px #dddddd;
    -webkit-box-shadow: 0px 0px 20px #dddddd;
    -moz-box-shadow: 0px 0px 20px #dddddd;
}
#sidebar-top {
    margin: 5px;
}

#sidebar-content {
    position: absolute;
    margin: 5px;
    top: 140px;
    bottom: 5px;
    width: 190px;
}

#logo {
    width: 100%;
    text-align: center;
}

#sidebar h1 {
    font-size: 20px;
}

#sidebar hr {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #cccccc;
}

.button-bar {
    text-align: center;
    width: 100%;
}

.small-button {
    display: inline;
    border: 1px solid #095B85;
    background-color: #0F73A6;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 8px #095B85;
    -moz-box-shadow: inset 0px 0px 8px #095B85;
    box-shadow: inset 0px 0px 8px #095B85;
}

.small-button:hover {
    background-color: #329CD1;
}

.ui-widget {

}