body {
    font-family: Arial, Tahoma, sans-serif;
}

#sidebar {
    height: 100%;
    width: 200px;
    top: 0;
    left: -200px;
    z-index: 100;
    border-right: 1px solid #999999;
}

#sidebar-opener {
    left: 0px;
    top: 50px;
    width: 32px;
    height: 32px;
    z-index: 100;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
}

#sidebar, #sidebar-opener {
    position: fixed;
    background-color: #bbbbbb;
    box-shadow: 0px 0px 20px #bbbbbb;
    -webkit-box-shadow: 0px 0px 20px #bbbbbb;
    -moz-box-shadow: 0px 0px 20px #bbbbbb;
}
#sidebar-top {
    margin: 5px;
}

#sidebar-content {
    position: absolute;
    margin: 5px;
    top: 210px;
    bottom: 65px;
    width: 190px;
}

#logo {
    width: 100%;
    text-align: center;
}

#sidebar h1 {
    font-size: 20px;
}

#sidebar hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

#sidebar h1, #sidebar h2 {
    text-align: center;
}

#sidebar label, #sidebar input {
    display: block;
    margin-top: 5px;
}

#sidebar input, .button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

#sidebar input[type=text], #sidebar input[type=password] {
    height: 25px;
    border: 1px solid #999999;
    -webkit-box-shadow: inset 0px 0px 8px #bbbbbb;
    -moz-box-shadow: inset 0px 0px 8px #bbbbbb;
    box-shadow: inset 0px 0px 8px #bbbbbb;
}

#sidebar input[type=submit], .button {
    height: 30px;
    font-size: 15px;
    border: 1px solid #095B85;
    background-color: #0F73A6;
    padding: 5px;
    color: #ffffff;
    margin-top: 10px;
    -webkit-box-shadow: inset 0px 0px 8px #095B85;
    -moz-box-shadow: inset 0px 0px 8px #095B85;
    box-shadow: inset 0px 0px 8px #095B85;
}

.button:hover, .small-button:hover, #sidebar input[type=submit]:hover {
    background-color: #329CD1;
}

.button {
    line-height: 30px;
    vertical-align: middle;
    padding: 0px;
    text-align: center;
}

.button {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.button-bar {
    text-align: center;
    width: 100%;
}

.small-button {
    display: inline;
    border: 1px solid #095B85;
    background-color: #0F73A6;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 8px #095B85;
    -moz-box-shadow: inset 0px 0px 8px #095B85;
    box-shadow: inset 0px 0px 8px #095B85;
}