input,textarea,select,button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	margin: 1px;
}

label {
	display: inline-block;
	margin-right: 2em;
	text-align: left;
	width: 15%;
	float: left;
	vertical-align: middle;
}

input[type=text],input[type=password],input[type=textarea],input[type=number]
	{
	margin: 0;
	width: 60%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input[type="radio"] {
	clear: both;
	float: left;
}

p>label {
	float: left;
}

input[type=button],input[type=submit],button {
	padding: 2px 10px;
}

.input input[type=checkbox] {
	display: block;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	float: left;
	margin-left: 135px;
	margin-right: 5px;
}

form div {
	margin: 5px 0;
}

.input {
	clear: both;
}

.input.textarea label {
	display: none;
}

#signin_menu input,#signin_menu label {
	float: none;
}

#main,#topnav-content {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#header {
	position: relative;
	margin-top: 60px;
	height: 80px;
	width: 225px;
}

#overlay-header {
	position: relative;
	padding: 5px;
	padding-bottom: 10px;
	height: 45px;
}

#pagelogo {
	text-align: center;
	padding: 15px 5px;
}

#topnav {
	position: fixed;
	width: 100%;
	line-height: 30px;
	height: 30px;
	top: 0px;
	left: 0px;
	text-align: right;
	z-index: 998;
}

#topnav a.signin,#topnav a.signout {
	position: relative;
	margin-left: 3px;
	padding: 4px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#signin_menu {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	display: none;
	position: absolute;
	width: 210px;
	z-index: 100;
	padding: 10px;
	top: 18px;
	right: -1px;
	margin-top: 5px;
	margin-right: 0px;
	text-align: left;
}

#signin_menu input[type=text],#signin_menu input[type=password] {
	display: block;
	margin: 0 0 5px;
	width: 203px;
}

#menu {
	position: relative;
	width: 185px;
	padding: 20px;
}

#menu.overlay {
	position: absolute;
	top: 0px;
	left: -255px;
}

#content {
	position: absolute;
	padding: 10px 20px;
	left: 255px;
	top: 0px;
	width: 720px;
}

#content.overlay {
	top: 60px;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 185px;
	padding: 10px 20px;
	z-index: 2000;
}

.plugin_content {
	position: relative;
}

.plugin_administration {
	padding: 2px;
	margin-bottom: 10px;
    bottom: 0;
    position: absolute; 	
    right: 0;
    z-index: 500;
}

.setting_button {
	display: inline;
	padding: 2px;
	margin-bottom: 10px;
    bottom: 0;
    position: absolute; 	
    right: 0;
    z-index: 500;
}

.setting_image {
	width: 20px;
	height: 20px;
}

.handler {
	cursor: move;
}

.flash_success,.flash_failure,#flashMessage {
	padding: 10px;
	margin: 15px 0;
}

#users_search_bar {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}

.role {
	clear: both;
	margin-bottom: 10px;
}

.users_role {
	padding: 2px;
}

.users {
	padding: 10px;
	min-height: 85px;
}

.user_detail,.users-placeholder {
	width: 125px;
	height: 75px;
	margin: 5px;
	float: left;
	padding: 5px;
}

.user_pic {
	text-align: center;
}

.user_name {
	text-align: center;
	font-weight: bold;
	float: left;
}

table {
	width: 100%;
}

th {
	padding: 0.5em;
}

th:last-of-type {
	border-right: none;
}

td {
	padding: 0.5em;
}

td:last-of-type {
	border-right: none;
}

tfoot tr td {
	border: none;
}

div #plugin_config td.name {
	width: 13em;
}

div #plugin_config td.version {
	width: 4em;
	text-align: center;
}

div #plugin_config td.author {
	
}

div #plugin_config td.status {
	width: 7em;
	text-align: center;
}

div #plugin_config td.action {
	width: 7em;
	text-align: center;
}