.handler {
    width: 100%;
    height: 20px;
    cursor: pointer;
    display: block;
    position: relative;
}

.subcl, .subcr, .subc {
    border:1px dotted black;
    padding: 10px;
}

.subcolumns, .plugin_content {
    padding-top: 10px;
}

.layout,.plugin{
	margin: 3px;
	width: 100%;
	height: 64px;
	font-size: 0.5em;
	text-align: center;
	cursor: pointer;
	background-color: #999;
	line-height: 7;
    list-style: none;
}

.placeholder {
    height: 100px;
    width: 100%;
    border:1px dotted black;
    background-color: #444444;
}